
body {
	background-color: #000000;
}

h1, h2, h3 , #am, #pm{
	font-family: 'Roboto';
	color:white;
	position: absolute;
	font-weight: 300;
	pointer-events: none;
}

.box {
	
	width: 300px;
    height: 100px;
    color: white;
    position: absolute;
    top: 0px;
    left: 0px;
	display: inline-block;
}

/*****TIME*****/
#timeContainer {
	width: 275px;
}

#hour {
	font-size: 80;
	left:5px;
	top:-60px;
}

#minute {
	font-size: 80;	
	left:90px;
	top: -60px;
}

#second {
	font-size: 50px;
	top:-50px;
	left:200px;
}

#am {
	font-size: 15px;
	top:40px;
	left:203px;
}

#pm {
	font-size: 15px;
	top:40px;
	left:230px;
}

/*****DATE*****/
#dateContainer {
	height: 75px;
}
#curDate {
	font-size: 32px;
}

/*****WEATHER*****/

/**Current Weather**/
#currentWeatherContainer {
	width: 250px;
}

#curWeatherIcon {
	top:5px;
	left:15px;
	height: 80px;
	width:91px;
	position: relative;
}

#curTemp {
	font-size: 80px;
	top:-60px;
	right:25px;
}

#degreesC {
	top:-10px;
	right:5px;
}

/**Future Weather**/
#futureWeatherContainer {
	width: 250px;
	height: 75px;
}
#nextDay1, #nextDay2, #nextDay3,#nextDay1temp, #nextDay2temp, #nextDay3temp {
	font-size:18px;
}

#nextDay1, #nextDay2, #nextDay3 {
	left: 10px;
}

#nextDay1temp, #nextDay2temp, #nextDay3temp {
	right: 15px;
}

#nextDay1 {
	top:-10px;
}
#nextDay1temp {
	top:-10px;
}

#nextDay2 {
	top:10px;
}
#nextDay2temp {
	top:10px;
}

#nextDay3 {
	top:30px;
}
#nextDay3temp {
	top:30px;
}


/**Current Location**/
#locationContainer {
	height: 50px;
}
#location {
	position: relative;
	top:-20px;
}

/**Travel**/
#travelTimeContainer{
	width: 300px;
	height: 50px;
}
#travelTime {
	font-size: 20px;
}


